<script type="text/javascript">
    (function(){ // 👈 익명 함수
        const delegation = document.querySelector('#contents_container');
        const textField = document.querySelector('#text_field');

        function delegationFunc(e) {
        let elem = e.target; // 👈 click 위치
        
        while (!elem.getAttribute('data-name')){ // elem이 "data-name"을 포함하고 있으면 아래 반복
            elem = elem.parentNode;  // 부모 node를 계속 찾아올라감

            if (elem.nodeName === 'BODY'){ // elem이 'BODY' 태그를 만다면,

                elem = null;
                return; // 종료
            }
        }
        // Like Btn Ajax 통신
        if (elem.matches('[data-name="heartbeat"]')){ // 👈 elem의 내용 중에 [data-name="heartbeat"]이 있다면,,
            const pk = elem.getAttribute('name'); // 👈 게시글의 id값을 가져옵니다. = post.pk 
            // ajax 통신 방법
            $.ajax({
                type: "POST", // 👈 POST 방식
                url: "{% url 'post:post_like' %}", // 👈 url 경로
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'}, // 👈 pk값과, csrf_token 전달
                dataType: "json", // // 👈 json 방식 선택
                success: function (response){  // 👈 성공햇을 때,,
                    const likeCount = document.querySelector('#like-count-'+pk); // 좋아요 갯수를 count하는 부분을 추출한 뒤,
                    likeCount.innerHTML = response.like_count; // like_count를 html에 넣어줍니다.
                },
                error: function (request, status, error){  // 👈 실패했을 때,,
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            });
        }
        // Bookmark Btn Ajax 통신
        if (elem.matches('[data-name="bookmark"]')){ // data-name이 "bookmark"라면,
            // console.log('북마크');
            const pk = elem.getAttribute('name'); // 해당 요소에서 name값을 가져옴
            // console.log(pk);
            $.ajax({
                type: "POST",
                url: "{% url 'post:post_bookmark' %}",
                data: {'pk': pk, 'csrfmiddlewaretoken': '{{ csrf_token }}' },
                dataType: "json",
                success: function (response){ // 성공햇을 때, response 값을 돌려 받고
                    // 템플릿 Text 변경
                    let btn_bookmark_text = ""; // 빈칸인 상수 생성
                    if(response.is_bookmarked === 'N'){
                        btn_bookmark_text = "저장하기";
                    } else if (response.is_bookmarked === 'Y') {
                        btn_bookmark_text = "저장됨";
                    }
                    const bookmark = document.querySelector('.bookmark').innerHTML = btn_bookmark_text;
                },
                error: function (reqeust, status, error){ // 실패했을 때, reqeust, status, errorr 값을 받음
                    console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
                }
            })
        }
        // 친구 요청 Ajax 통신
        if (elem.matches('[data-name="friend_request"]')){
            const user_id = elem.getAttribute('name');
            $.ajax({
                type: "POST",
                url: "{% url 'accounts:create_friend_request' %}",
                data: {
                    'pk': user_id,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response){
                    elem.innerHTML = "친구요청중";
                },
            })
        }
        // 댓글 생성 ajax 통신
        if (elem.matches('[data-name="comment"]')){
            console.log('새댓글')
            const pk = elem.getAttribute('name'); // pk값 가져오기
            const content = document.querySelector('#add-comment-post'+pk+'>div>input[type=text]').value; // 댓글 내용 가져오기
            if(content.length > 140) {
                alert("댓글은 최대 140자 입력 가능하빈다. 현재 글자수: "+ content.length);
                return;
            }
            if(content.length == 0) {
                alert("글자를 입력해 주세요: "+ content.length);
                return;
            }
            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_new' %}",
                data: {
                    'pk': pk,
                    'content': content,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "html",
                success: function(data, textStatus, jqXHR){
                    document.querySelector("#comment-list-ajax-post"+pk).insertAdjacentHTML("afterbegin", data);
                    location.reload();
                }
            })
        }
        // 댓글 삭제 ajax 통신
        if (elem.matches('[data-name="comment_delete"]')){
            console.log('삭제')
            const pk = elem.getAttribute('name');

            $.ajax({
                type: "POST",
                url: "{% url 'post:comment_delete' %}",
                data: {
                    'pk': pk,
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                dataType: "json",
                success: function(response){
                    console.log('성공')
                    if(response.status){
                        document.querySelector('#comment'+pk).remove();
                        location.reload();
                    }
                }
            })

        }
        elem.classList.toggle('active');
    }
    delegation.addEventListener('click', delegationFunc); // 👈 '#contents_container'가 클릭됬을 때, delegationFunc실행
})();
</script> 
